* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

html {
    background-color: var(--tg-theme-secondary-bg-color);
}

body {
    margin: 0;
    padding: 0;
    color: var(--tg-theme-text-color);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.timezone-selector {
    position: relative;
    margin: 0 auto;
    background-color: var(--tg-theme-bg-color);
}

.timezone-selector .selected-timezone {
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2rem;
    text-align: center;
}

.timezone-selector .timezone-list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--tg-theme-bg-color);
}

.timezone-selector .timezone-list.show {
    display: block;
}

.timezone-selector .timezone-list input {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid var(--tg-theme-button-color);
    font-size: 16px;
}

.timezone-selector .timezone-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.timezone-selector .timezone-list li {
    padding: 10px;
    cursor: pointer;
}

.timezone-selector .timezone-list li:hover {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
}

.header {
    font-size: 1.6rem;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--tg-theme-hint-color);
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--tg-theme-hint-color);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--tg-theme-hint-color);
}
